.order {
  padding: 0 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.success {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success1 {
  display: flex;
  align-items: center;
}

.icon {
  width: 48px;
  height: auto;
}

@media (max-width: 768px) {
  .order {
    flex-direction: column;
    justify-items: center;
  }

  .cart {
    margin-top: 20px;
    width: 100%;
  }
}
